* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

body {
    margin: auto;
}

    .header {
        position: fixed;
        width: 100%;
        height: 105px;
        background: rgb(0,34,36);
        background: linear-gradient(90deg, rgba(0,34,36,1) 0%, rgba(18,90,133,1) 3%, rgba(27,141,188,1) 9%, rgba(28,150,197,1) 12%, rgba(20,169,214,1) 18%, rgba(0,212,255,1) 40%, rgba(0,212,255,1) 60%, rgba(20,169,214,1) 82%, rgba(28,150,197,1) 88%, rgba(27,141,188,1) 91%, rgba(18,90,133,1) 97%, rgba(0,34,36,1) 100%);
        display: flex;
        align-items: center;
        transition: all 300ms ease-in-out;
        z-index:10;
    }

    .small {
        height: 40px;
    }

        .header img {
            height: inherit; 
            margin-left: 135px; 
            display: inline-block
        }

        .header ul {
            list-style: none;
            padding: 20px 10px;
            margin-left: 200px;
        }

            .header li {
                display: inline-block;
                margin: 0px 10px;
            }

                .header li a {
                    text-decoration: none;
                    font-size: 22px;
                    padding: 4px;
                    border-radius: 1px;
                    text-shadow: 1px 1px 2px;
                    color: rgba(18,90,133,1);
                }

    #body {
        min-height: 909px;
        background-image: url("/static/images/background.jpg");
        background-size: cover;
        opacity: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


        .home_images {
            height: 180px;
            width: 180px;
            margin: 110px 40px -50px
        }

        #home-p {
            width: 825px;
            font-size: 20px;
            border-style: outset;
            padding: 5px
        }

        .underline {
            width: 410px;
            height: 60px;
            margin: -22px 0px 25px;
        }

        #home-ul li{
            font-size: 28px;
        }

        .button-link {
            text-decoration: none;
            background-color: rgba(18,90,133,1);
            color: whitesmoke;
            font-size: 20px;
            padding: 9px;
            border-style: outset;
            margin-bottom: 25px;
        }

